@{
    ViewBag.Title = "About Us";
}

<article class="about">
	<div class="info">
		<h1>allow me to introduce myself</h1>
		<p><strong>First Name:</strong> Kate <br />	
		<strong>Surname:</strong> Hacker (as of August 2011 when I married the most wonderful man in the whole world)</p>
		<p><strong>Hometown:</strong> Richmond, VA, USA <br />
		<strong>Current location:</strong> Bristol, UK <br />
		<em>(Note: My friends here tell me I have returned to my motherland but I will insist on using words like 'sidewalk' and 'y'all' 'til my dying breath.)</em></p>
		<p><strong>Interests:</strong> Photographing Britain and her people, drinking way too much tea, movies from the 1980s (I aspire to be Ferris Bueller), and trying to see the beauty that is in the world around me.</p>
		<p><strong>Style:</strong> I am a self-taught photographer, which means each photo I take flows from a personal style I am constantly constructing, defining and infusing with creativity. I love rich colo(u)rs, capturing a sense of history, and most of all capturing your style into the photos I take of you.</p>
	</div>
	<img src="@Url.Content("~/Images/ProfilePhoto.jpg")" height="565" width="317" alt="Kate taking photo" />
	@*<%= image_tag("ProfilePhoto.jpg", :size => "317x565", :alt => "Kate taking photo") %>*@
</article>