@{
    ViewBag.Title = "Contact";
}

<article class="contact">
	<div class="overlay">
		<h1>Contact</h1>
		<p>Current Location: Bristol, England</p>
		
		<p>CONTACT KATE</p>
		<p>phone:09283020212</p>
		<p>email:<a href="mailto:kate@heroku.com?Subject=Photo%20enquiry">kate@heroku.com</a></p>
		<p>twitter:<a href="http://twitter.com/#!/katehacker">http://twitter.com/#!/katehacker</a></p>
	</div>

	<img src="http://i.minus.com/jbnoNSmJ6cDQgC.JPG" height="565" width="810" alt="Lael Lieder long coat" />
	@*<%= image_tag("http://i.minus.com/jbnoNSmJ6cDQgC.JPG", :size => "810x565", :alt => "Lael Lieder long coat") %>*@
</article>